<?xml version="1.0"?>

<configuration>
  <!-- register local configuration handlers -->
  <configSections>
    <section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic"
			 allowDefinition="MachineToApplication" restartOnExternalChanges="true" 
			 requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="SiteSqlServer" 
		 connectionString="Data Source=localhost;Integrated Security=True;User Instance=false;Database=dbejsuite;" 
		 providerName="System.Data.SqlClient" />
  </connectionStrings>
  <SubSonicService defaultProvider="DALEjSuite">
    <providers>
      <add name="DALEjSuite"
           type="SubSonic.SqlDataProvider, SubSonic"
           stripTableText="EJS_"
           stripSPText="EJS_"
           stripViewText="EJS_"
           generatedNamespace="EjSuite"
           includeTableList="EJS_*"
           includeProcedureList="EJS_*"
           connectionStringName="SiteSqlServer" />
    </providers>
  </SubSonicService>
</configuration>